footer{
    background-color: $light-grey-color;
    padding: 50px;

    .container{
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info{
            display: flex;
                a{
                    text-decoration: none;
                    color: $blue-color;
                    font-size: 0.9rem;
                    transition: transition 0.3s;
                    &:hover{
                        transform: scale(1.1);
                    }

                    span{
                        @include middle-dot;
                    }
                }
        }

        p{
            font-size: 0.7rem;
            color: grey;
            padding-top: 15px;
        }

        .socials{
            display: flex;
            a{
                padding: 10px;
                img{
                    width: 25px;
                    height: 25px;
                    transition: transform 0.3s;
                    &:hover{
                        transform: scale(1.7);
                    }
                }
            }
            
        }
    }
}